<a *ngFor="let article of articles" (click)="onSelect(hero)" class="article" href="#article{{ article.id }}">
  <span class="title">{{ article.title }}</span>
  <span class="date">{{ article.date }}</span>
  <div class="image" style="background-image: url('{{ article.image }}')"></div>
  <p class="short">{{ article.short }}</p>
  <span class="text-end">{{ textEnd }}</span>
</a>
<h2>{{ selectedArticle.title | uppercase }} Details</h2>
<div><span>id: </span>{{selectedArticle.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="selectedArticle.title" placeholder="title">
  </label>
</div>
